*{
    box-sizing: border-box;
}

.form-div{
 width: 100%;
 text-align: center;
 margin: auto;
 margin-bottom: 10px;
}

.form{
   text-align: center;
}
.form input, .form button{
    display: block;
    padding: auto;
    margin: 3px;
    width: 100%;
}
